<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}
{% block body_block %}
	<h1>Rango says... here is the about page. </h1>
	<div>
		<strong>{{ boldmessage }}</strong><br />
	</div>
	<div>
<!--Media files are user defined; and as such, they may change often!-->
		<img src="/media/cat.jpg" alt="A picture of a cat" /><br />
		
<!-- static files do not change. These files form the core
components of your website. -->		
		<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
	</div>
{% endblock %}